<!DOCTYPE html>
<html lang="en_US">
  <head>
  <%- partial('partials/head') %>
  </head>
  <body class='user'>
    <div class='contain'>
      <header class='wide'>
        <h1>TweetStasher</h1>
        <div id="user">
          <ul>
            <li>
              <span class="greeting">Hello,</span>
              <a class='profile' href="https://twitter.com/<%= user.screenName %>"><%= user.name %></a> <img src='<%= user.profilePic %>' alt='profile pic'/>
              <ul class='options'>
                <li><a href='/signout'>Sign out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </header>
      <%- partial('partials/clouds') %>
      <section id='content'>
      <%- body %>
      </section>
      <%- partial('partials/footer') %>
    </div>
    <script data-main="/javascripts/app.js" src="/javascripts/lib/require.js"></script>
  </body>
</html>
